{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}}
 :aliases {:dev {:extra-paths ["dev" "test" "dev-resources"]
                 :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.14"}
                              com.bhauman/cljs-test-display {:mvn/version "0.1.1"}
                              devcards/devcards {:mvn/version "0.2.7"}
                              cjohansen/quiescent {:mvn/version "16.2.0-3"}}}
           :repl {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                  :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :dev-clj {:extra-paths ["dev" "test"]}
           :test {:extra-paths ["test" "resources/public"]
                  :extra-deps {olical/cljs-test-runner {:mvn/version "3.3.0"}}
                  :main-opts ["-m" "cljs-test-runner.main" "--env" "chrome-headless"]}
           :test-clj {:extra-paths ["test"]
                      :extra-deps {lambdaisland/kaocha {:mvn/version "1.65.1029"}}}
           :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                               :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
                 :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "dumdom.jar"]}}}
